// * {
//     border: solid red 1px;
// }

html {
    font-size: 125%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    // background-image: url(../assets/world.jpg); // image from Unsplash (https: //unsplash.com/photos/Xu4Pz7GI9JY)
    // background-size: cover;
}


h1 {
    text-align: center;
    color: white;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

input,
.currencyContainer,
button {
    margin: 20px;
    // position: relative;
}

input,
select,
button {
    height: 50px;
    padding: 10px 20px;
}

input {
    margin-left: 5px;
    width: 300px;

    &[type=number] {
        -moz-appearance: textfield;
    }
}

.currencyContainer {
    width: 400px;
}

button {
    width: 300px;
}

.sourceSymbolContainer {
    color: white;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 20px;
    padding: 10px 0;
    
}

.targetFlags,
.sourceFlags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.flagContainer {
    width: 30px;
    height: 20px;
    margin: 5px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

i {
    color: white;
    font-size: 1.5rem;
    // transform: translateY(30px);
    text-align: center;
}

.contentBox {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}


footer{
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
}

.conversion{
    color: white;
    text-align: center;
}

.flexContainer .switch {
    background: none;
    border: none;
    width: 10px;
    margin: 0 10px;
    transform: translateY(25px);
}
