// * {
//     border: solid red 1px;
// }

html {
  font-size: 125%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/world.jpg); // image from Unsplash (https: //unsplash.com/photos/Xu4Pz7GI9JY)
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

.flexContainer{
    display: flex;
    justify-content: center;

    input,
    select{
        margin: 20px;
        padding: 10px 20px;
    }

    input {
        width: 300px;
        &[type=number]{
            -moz-appearance: textfield;
        }
    }

    button{
        margin: 20px;
        padding: 10px 20px;
    }
}

i {
  color: white;
  font-size: 1.5rem;
  transform: translateY(30px);
}

footer{
    text-align: center;
    color: white;
}

.conversion{
    color: white;
    text-align: center;
}


// make it rain animation
.money {
    text-align: center;
    position: absolute;
    height: 100vh;
}
.money span {
    display: inline-block;
    
   
	  margin: -280px 40px 54px  -34px;
         background:url("https://cdn.theatlantic.com/assets/media/img/posts/Screen%20Shot%202013-10-08%20at%209.13.38%20AM.png");
  background-size: contain;
    
    -webkit-animation: money 5s linear;
    -moz-animation: money 5s linear;
}
.money span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.money span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.money span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.money span:nth-child(3n+10) {

    -webkit-animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;
}
.money span:nth-child(7n+2) {

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
}
.money span:nth-child(4n+5) {

    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
}
.money span:nth-child(3n+7) {

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}
@-webkit-keyframes money {
  0% {
    width: 200px;
    height: 200px;
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 1;

	-webkit-transform: translate(100px, 1000px) rotateZ(360deg); 
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;

	-webkit-transform: translate(150px, 1200px) rotateZ(580deg);
  }
}
@-moz-keyframes money {
  0% {
    width: 200px;
    height: 200px;
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 1;
   
	-webkit-transform: translate(100px, 1000px) rotateZ(360deg); 
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
    
	-webkit-transform: translate(150px, 1200px) rotateZ(580deg);
  }
}


.potato {
    text-align: center;
    position: absolute;
    height: 100vh;
}
.potato span {
    display: inline-block;
    
   
	  margin: -280px 40px 54px  -34px;
         background:url("../assets/potato-png-transparent-6.png");
  background-size: contain;
  background-repeat: no-repeat;
    
    -webkit-animation: potato 5s linear;
    -moz-animation: potato 5s linear;
}
.potato span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.potato span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.potato span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.potato span:nth-child(3n+10) {

    -webkit-animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;
}
.potato span:nth-child(7n+2) {

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
}
.potato span:nth-child(4n+5) {

    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
}
.potato span:nth-child(3n+7) {

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}
@-webkit-keyframes potato {
  0% {
    width: 200px;
    height: 200px;
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 1;

	-webkit-transform: translate(100px, 1000px) rotateZ(360deg); 
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;

	-webkit-transform: translate(150px, 1200px) rotateZ(580deg);
  }
}
@-moz-keyframes potato {
  0% {
    width: 200px;
    height: 200px;
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 1;
   
	-webkit-transform: translate(100px, 1000px) rotateZ(360deg); 
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
    
	-webkit-transform: translate(150px, 1200px) rotateZ(580deg);
  }
}