// * {
//     border: solid red 1px;
// }

html {
  font-size: 125%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    // background-image: url(../assets/world.jpg); // image from Unsplash (https: //unsplash.com/photos/Xu4Pz7GI9JY)
    // background-size: cover;

}


h1 {
    text-align: center;
    color: white;
}

.flexContainer{
    display: flex;
    justify-content: center;

    input,
    select{
        margin: 20px;
        padding: 10px 20px;
        z-index: 10;
    }

    input {
        width: 300px;
        &[type=number]{
            -moz-appearance: textfield;
        }
    }

    button{
        margin: 20px;
        padding: 10px 20px;
        z-index: 10;
    }
}

i {
  color: white;
  font-size: 1.5rem;
  transform: translateY(30px);
}

.contentBox {
  background-color: rgba(0, 0, 0, 0.7);
  // z-index: -20;
}

footer{
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
}

.conversion{
    color: white;
    text-align: center;
}

.switch {
    background: none;
    border: none;
}
