@media (max-width: 1200px) {
    .flexContainer{
        flex-direction: column;

        input[type=number]{
            text-align: center;
            margin: 20px auto;
        }
    
        select{
            margin: 20px auto;
        }

        .switch{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        i{
            transform: rotate(90deg);
            text-align: center;
        }
    }

    .earthContainer{
        height: 100vw;
        width: 100vh;
    }
}

@media (max-width: 400px){
    .flexContainer select{
        width: 102%;
    }
}