@media (max-width: 1200px) {
    .flexContainer{
        flex-direction: column;

        input[type=number],
        select,
        button{
            text-align: center;
            margin: 20px auto;
        }

        .switch{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        i{
            transform: rotate(90deg);
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .contentBox{
        background-color: rgba(0, 0, 0, 0);
    }
    .sourceFlags{
        margin: 0 auto;
    }
}

@media (max-width: 430px){
    body{
        margin: 0 auto;
    }
    input[type=number],
    button[type=submit]{
        width: 80%;
    }
    .flexContainer select{
        width: 86%;
        margin-left: 10px;
    }
}