html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../assets/world.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flexContainer input,
.flexContainer select {
  margin: 20px;
  padding: 10px 20px;
}
.flexContainer input {
  width: 300px;
}
.flexContainer input[type=number] {
  -moz-appearance: textfield;
}
.flexContainer button {
  margin: 20px;
  padding: 10px 20px;
}

footer {
  text-align: center;
  color: white;
}

.conversion {
  color: white;
  text-align: center;
}

body {
  position: relative;
}

.loader {
  text-align: center;
  position: absolute;
  height: 100vh;
}

.loader span {
  display: inline-block;
  margin: -280px 40px 54px -34px;
  background: url("https://cdn.theatlantic.com/assets/media/img/posts/Screen%20Shot%202013-10-08%20at%209.13.38%20AM.png");
  background-size: contain;
  -webkit-animation: loader 5s linear;
  -moz-animation: loader 5s linear;
}

.loader span:nth-child(5n+5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}

.loader span:nth-child(3n+2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

.loader span:nth-child(2n+5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+10) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

.loader span:nth-child(7n+2) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
}

.loader span:nth-child(4n+5) {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
}

.loader span:nth-child(3n+7) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}

@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(100px, 1000px) rotateZ(360deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transform: translate(150px, 1200px) rotateZ(580deg);
  }
}