html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  border: solid red 1px;
}

html {
  font-size: 125%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

h1 {
  text-align: center;
  color: white;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input,
.currencyContainer,
button {
  margin: 20px;
}

input,
select,
button {
  height: 50px;
  padding: 10px 20px;
  width: inherit;
}

input {
  margin-left: 5px;
  width: 300px;
}
input[type=number] {
  -moz-appearance: textfield;
}

.currencyContainer {
  width: 400px;
}

button {
  width: 300px;
}

.sourceSymbolContainer {
  color: white;
  font-size: 1.2rem;
  height: 50px;
  margin-top: 20px;
  padding: 10px 0;
}

.targetFlags,
.sourceFlags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.flagContainer {
  width: 30px;
  height: 20px;
  margin: 5px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

i {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.contentBox {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

footer {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
}

.conversion {
  color: white;
  text-align: center;
}

.flexContainer .switch {
  background: none;
  border: none;
  width: 10px;
  margin: 0 10px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.earthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vw;
  width: 80vw;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

.earth {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: rotation 120s infinite linear;
          animation: rotation 120s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.money,
.potato {
  text-align: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.money span {
  display: inline-block;
  margin: -280px 40px 54px -34px;
  background: url("https://cdn.theatlantic.com/assets/media/img/posts/Screen%20Shot%202013-10-08%20at%209.13.38%20AM.png");
  background-size: contain;
  -webkit-animation: money 4s linear;
  -moz-animation: money 4s linear;
  width: 200px;
  height: 100px;
  opacity: 0;
}

.money span:nth-child(5n+5) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  background-image: url(../assets/yen.png);
}

.money span:nth-child(3n+2) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.money span:nth-child(2n+5) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  background-image: url(../assets/canadian-dollar.png);
  -webkit-transform: rotateZ(-45deg);
  -webkit-transform: rotateY(25deg);
}

.money span:nth-child(3n+10) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.money span:nth-child(7n+2) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -webkit-transform: rotateZ(200deg);
          transform: rotateZ(200deg);
}

.money span:nth-child(4n+5) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-transform: rotateZ(80deg);
          transform: rotateZ(80deg);
}

.money span:nth-child(3n+7) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -webkit-transform: rotateY(25deg);
          transform: rotateY(25deg);
}

.money span:nth-child(3n+7) {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -webkit-transform: rotateZ(-20deg);
          transform: rotateZ(-20deg);
}

@-webkit-keyframes money {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotateZ(0deg) rotateY(270deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(75px, 725px) rotateZ(360deg) rotateY(540deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(125px, 1087px) rotateZ(540deg) rotateY(300deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(150px, 1450px) rotateZ(700deg);
  }
}
.potato span {
  display: inline-block;
  margin: -280px 40px 54px -34px;
  background: url("../assets/potato-png-transparent-6.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  opacity: 0;
  -webkit-animation: potato 2s cubic-bezier(0.12, 0.04, 0.55, 0.09);
  -moz-animation: potato 2s ease-in;
}

.potato span:nth-child(5n+5) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}

.potato span:nth-child(3n+2) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.potato span:nth-child(2n+5) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

.potato span:nth-child(3n+10) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
}

.potato span:nth-child(7n+2) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.potato span:nth-child(4n+5) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

.potato span:nth-child(3n+7) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

@-webkit-keyframes potato {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(100px, 1350px) rotateZ(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 1450px) rotateZ(365deg);
  }
}
@media (max-width: 1200px) {
  .contentBox {
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 90%;
  }
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexContainer .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .flexContainer i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    text-align: center;
    margin-bottom: 40px;
  }
  .sourceFlags {
    margin: 0 auto;
  }
  .flexContainer,
.currencyContainer,
select,
input[type=number],
button {
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexContainer,
.currencyContainer,
select,
input[type=number] {
    margin-top: 5px;
  }
  button {
    margin-top: 50px;
  }
}
@media (max-width: 430px) {
  .currencyContainer {
    width: 100%;
  }
  .flexContainer select {
    width: 100%;
  }
  input[type=number],
button {
    width: 100%;
  }
  i {
    margin-top: 5px;
  }
}